certifi==2022.12.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
imageio==2.23.0
imgaug==0.4.0
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
matplotlib @ file:///C:/ci/matplotlib-suite_1660169687702/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
munkres==1.1.4
networkx==2.6.3
numpy @ file:///C:/ci/numpy_and_numpy_base_1653574840943/work
opencv-python==3.4.2.17
packaging @ file:///C:/b/abs_cfsup8ur87/croot/packaging_1671697442297/work
Pillow==9.3.0
ply==3.11
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
PyWavelets==1.3.0
PyYAML==6.0
scikit-image==0.19.3
scipy==1.7.3
shapely==2.0.0
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tifffile==2021.11.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.7.0
torchvision==0.8.0
tornado @ file:///C:/ci/tornado_1662476933490/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
typing_extensions @ file:///C:/b/abs_89eui86zuq/croot/typing_extensions_1669923792806/work
wincertstore==0.2
yacs==0.1.8
